html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.notfound{
    text-align: center;
    font-size: 128px;
}

.notfound::after{
    display: block;
    content: "Il semble que la page demandée n'existe pas.";
    font-size: 36px;
}

.error{
    text-align: center;
    font-size: 128px;
}

.error:after{
    display:block;
    content:"Oups, une erreur est survenue.";
    font-size: 36px;
}


.permission{
    text-align: center;
    font-size: 128px;
}

.permission:after{
    display:block;
    content:"Vous n'avez pas la permission de voir cette page.";
    font-size: 36px;
}

.logout{
    text-align: center;
    font-size: 36px;
}

.logout::after{
    display: block;
    content: "Redirection dans 3 secondes...";
    font-size: 18px;
}