#loader {
  background: rgba(255, 255, 255, 0.925) /*url('../img/loading.gif') */no-repeat center center;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100001;
  font-size: 1.5rem;
}

#loader:before{
  content:"Chargement...";
  display:block;
  text-align: center;
}

.shadowed{
  text-shadow: 1px 1px 3px black;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285f4;
}